listen 443;
workers 2;
logfile var/log/barebones-reverse-proxy/proxy.log;

cert dashboard.home {
    cert /etc/ssl/dashboard/cert.pem;
    key /etc/ssl/dashboard/key.pem;
}

route https://dashboard.home/ http://localhost:3001/;